@import '@/styles/mixin.scss';
.hc {
    @include clearfix;
    width: 100%;
    height:60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    background: url('./../../assets/images/dashboard/headerBg.png') no-repeat center 0;
    background-size: 100% 60px;

    &-left {
        display: flex;
        align-items: center;
        padding-left: 10px;
        z-index: 102;
        &-sysname {
            color: #00feff;
            font-size: 20px;
            font-family: zzgf;
            letter-spacing: 4px;
            white-space: nowrap;
            cursor: default;
            margin-right: 8px;
        }

        &-menu {
            width: 15px;
            height: 15px;
            margin-right: 0.26vw;
            background: url('./../../assets/images/dashboard/menu.png') no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
            margin-right: 8px;
        }
    }

    &-center {
        width: calc(70% - 10vw);
        flex-grow:1;
        order:2;
        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            font-size: 1.3vw;
            color: #fff;
            line-height: 30px;
            text-align: center;
        }
    }
    &-right {
        order:3;
        width: 35vm;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-clock {
            margin-right: 10px;
        }

        &-userinfo {
            margin-right: 10px;
        }

        &-exit {
            background: url('./../../assets/images/dashboard/exit.png') no-repeat;
            background-size: contain;
            width: 25px;
            height: 25px;
            margin-right: 8px;
            cursor: pointer;
        }
    }
}