$border-color: #186986;
$font-color: rgba(162, 238, 255, 1);
$sml-size: 12px;
$con-size: 14px;
$title-size: 16px;
$htitle-size: 26px;
$bg-color: #041024;

$base-bdcolor: #e1e1e1;
/** 主色系 **/
$focus-color: rgba(0, 242, 184, 1);
$main-color: rgba(162, 238, 255, 1);